*{
	border: 0;
	margin: 0;
}
body{
	background-image: url(e.jpg);

}
.contenedor{
	margin-top: 50px;
}
img{

	width: 900px ;
   display:block;
   margin:auto;
}
p{
	height: 20px;
	margin-top: 20px;
 font-size: 20px;
 font-family: fantasy;
}
font{
	font-size: 30px;
}
div.texto{
	background: #000;
	width: 800px;
	margin: auto;
	height: 350px;
}
.boton{

	margin-top: 50px;
  height: 100px;
  width: 200px;
 border-radius: 10px;
  background: green;
  color: #333;

  line-height: 100px;
  text-align: center;

  vertical-align: middle;
}
.boton:hover{
	background: darkred;
}
a:hover {
  color: orange;
}
font{
	display: block;
	margin-left: auto;
	margin-right: auto;
	 text-align: center;

  vertical-align: middle;
}
a{
	display: block;
	margin-top: 20px;
	color: #000000;
	text-decoration: none;
	font-size: 30px;
	font-family: monospace;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.boton{
	margin: auto;
}

@media (max-width: 500px) {
font{
	font-size: 30px;
}
	div.texto{
	background: #000;
	width: 80%;
	
	height: 300px;
}
	img{
	width: 85% ;
   display:block;
   margin:auto;
	}
	.texto{
		width: 70%;
	height: 180px;

	border-radius: 10px;
	margin: auto;
	
}
}
