*{
	border: 0;
	margin: 0;
}
body{
	background-image: radial-gradient(circle at 41% 83.6%, #00ffff 0, #00ffff 16.67%, #00ebff 33.33%, #0cc1ed 50%, #3499be 66.67%, #3a7694 83.33%, #385a6f 100%);

}
.contenedor{
	margin-top: 0px;
}
img{
 width: 80%;
 display: block;
 margin: auto;
}
p{
	height: 20px;
	margin-top: 20px;
 font-size: 20px;
 font-family: fantasy;
}
font{
	font-size: 30px;
}
div.texto{
	background: #000;
	width: 800px;
	margin: auto;
	height: 350px;
}
.boton{

	margin-top: 50px;
  height: 100px;
  width: 200px;
 border-radius: 10px;
  background: green;
  color: #333;

  line-height: 100px;
  text-align: center;

  vertical-align: middle;
}
P{
	color: orangered;
	font-size: 35PX;
	text-align: center;
}
.boton:hover{
	background: darkred;
}
a:hover {
  color: orange;
}
font{
	display: block;
	margin-left: auto;
	margin-right: auto;
	 text-align: center;

  vertical-align: middle;
}
a{
	display: block;
	margin-top: 20px;
	color: #000000;
	text-decoration: none;
	font-size: 30px;
	font-family: monospace;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.boton{
	margin: auto;
}

@media (max-width: 500px) {
font{
	font-size: 30px;
}
	div.texto{
	background: #000;
	width: 80%;
	
	height: 300px;
}
img{
 width: 100%;
}
	.texto{
		width: 70%;
	height: 180px;

	border-radius: 10px;
	margin: auto;
	
}
}
