* {
    border: 0;
    margin: 0;
}

body {
    background-color: aqua;
}

.contenedor {
    margin-top: 0px;
}

img {
    width: 40%;
    display: block;
    margin: auto;
    border-radius: 30px;
}

p {
    height: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: fantasy;
}

div.boton a {
    text-align-last: center;
    font-family: fantasy;
}

.f {
    display: block;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
}

h1 {
    color: rgb(255, 27, 27);
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

font {
    text-align-last: left;
    display: block;
    text-align: left;
    font-size: 30px;
}

.boton {
    margin-top: 30px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background: green;
    color: #333;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

P {
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-size: 35PX;
    text-align: center;
    text-align: left;
}

.boton:hover {
    background: darkred;
}

a:hover {
    color: orange;
}

font {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    display: block;
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.boton {
    margin: auto;
}

@media (max-width: 500px) {
    font {
        font-size: 30px;
    }
    img {
        width: 100%;
    }
    body {
        max-width: 430px;
    }
}

@media (min-width: 500px) {
    img {
        width: 500px;
        height: 400px;
    }
}
