*{
	border: 0;
	margin: 0;
}
body{
	background-image: url(e.jpg);

}
.contenedor{
	top: 200px;
	margin-top: 100px;
}
img{

	width: 100% ;
   display:block;
   margin:auto;
}
p{
	margin-top: 20px;
 font-size: 20px;
 font-family: fantasy;
}
.texto{
  
		width: 90%;
	height: 180px;
	background: #019BFF;
	border-radius: 10px;
	margin: auto;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}
.boton{
	margin-top: 20px;
  height: 100px;
  width: 200px;
 border-radius: 10px;
  background: green;
  color: #333;

  line-height: 100px;
  text-align: center;

  vertical-align: middle;
}
.boton:hover{
	background: darkred;
}
a:hover {
  color: orange;
}
a{
	color: #000000S;
	text-decoration: none;
	font-size: 25px;
	font-family: monospace;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div{
	margin: auto;
}
@media (min-width: 500px) {
	img{
	width: 70% ;
   display:block;
   margin:auto;
	}
	.texto{
		width: 70%;
	height: 180px;

	border-radius: 10px;
	margin: auto;
	
}
}
